<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>小麦黑名单质检平台</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md4">&nbsp</div>
        <div class="layui-col-md4">
        <form class="layui-form" action="" method="post">
            {% csrf_token %}
            <div class="layui-form-item">
                <label class="layui-form-label">用户：</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码：</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">登陆</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
        </div>
        <div class="layui-col-md4">&nbsp</div>
    </div>
</div>
<script src="{% static 'layui/layui.js' %}"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
</script>
</body>
</html>